.movieDetails-com {
  display: flex;
  flex-direction: column;
  width:90%;
  margin:0 auto;

  iframe {
    width: 100%;
    height: 200px;
    margin-top: 20%;
  }

  

  .image-headers {
    margin-top: 20px;
    display: flex;

    img {
      width: 34%;
      height: 180px;
      @media screen and (min-width: 700px) {
        width: 20%
      }
      @media screen and (min-width: 1000px) {
        width: 16%;
        height: 200px;
      }
      @media screen and (min-width: 1200px) {
        width: 14%;
        height: 220px;
      }
    }

    .headers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      margin: 0 0 10px 10px;
      width:70%;
      height: 180px;
      .title {
        font-size: 22px;
        font-weight: bold;
      }
      .genres {
        margin-bottom: 8px;
        span {
          margin: 0;
          font-size: 15px;
          margin-right: 3px;
        }
      }

      h5 {
        font-size: 25px;
        margin: 0;
        text-align: start;
      }
      p {
        margin: 0;
        margin-top: 6px;
      }
    }
  }

  .overview {
    text-align: start;
    font-size: 18px;
    h5{
      margin-bottom: 4px;
    }
    p{
      margin-top: 6px
    }
  }

  .casts,
  .director {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    .cast-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    h3 {
      text-align: start;
    }

    .casts-dir-div {
      width: 100%;
      display: flex;
      // justify-content: start;
      // align-items: flex-start;
      flex-wrap: wrap;

      .dir-img {
        height: 150px;
      }

      .cast-img{
        width: 100حء;
        height: 130px;
      }

      div {
        width: 100px;
        margin: 0 10px 0 0;
        margin-bottom: 10px;

        p {
          margin-top: 5px;
        }
      }
      img {
        width: 100px;
      }
    }
  }
}

.sweet-loading {
  margin-top: 190px;
}

@media screen and (min-width: 800px) {
  .movieDetails-com {
    margin: 0 auto;
    iframe {
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 6%;
      width: 60%;
      height: 360px;
    }
  }
}

.space{
  margin-top: 60px;
}