@import 'variables.scss';

.App {
  text-align: center;
}

body{
  transition: 01s ease-in-out;
}

.google{
  border: 1px black solid;
  margin: 1% 40%;
  cursor: pointer;
}

.dark-mode{
  background-color: $pure_black;
  color: white;
  transition: 01s ease-in-out;
}

.red-box{
  border: 4px $enabled_action_button solid;
  border-radius: 5px;
}

.next-button{
  background-color: $disabled_action_button;
  position: fixed;
  bottom: 15px;
  right: 0%; 
  width: 75%;
  color: $disabled_text;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  height: 52%;
  left: 0%;
  outline: none;
}

.black-box{
  position: fixed;
  width: 415px;
  height: 75px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}

.days{
  display: flex;
  flex-direction: column;
}

.day{
  margin: 5% 5% 2% 5%;
  background-color: #262526;
  border: none;
  color: #706e70;
  padding: 4% 0;
  outline: none;
}

.day.red-box{
  margin: 5% 5% 2% 5%;
  background-color: #262526;
  border: 2px red solid;
  color: white;
  padding: 4% 0;
  outline: none;
}