.App {
  text-align: center;
}

body{
  transition: 01s ease-in-out;
}

.google{
  border: 1px black solid;
  margin: 1% 40%;
  cursor: pointer;
}

.dark-mode{
  background-color: #1f1f1f;
  color: white;
  transition: 01s ease-in-out;
}