$pure_black: #000000;
$pure_white: #FFFFFF;
$enabled_action_button: #FD2d2d;
$disabled_action_button: rgba(253, 45, 45, 0.5); //50% opacity
$enabled_button: #3d3d3d;
$disabled_button: #292A2B;
$mid_text: rgba(255, 255, 255, 0.87);
$disabled_text: rgba(255, 255, 255, 0.6);
$movie_overlay: rgba(0,0,0, 0.5);
$box_outline: #838383;
$seats_chosen: #faad14;
$clickable_link: #4394f4;

