.team-page{
    padding-top: 55px;

    .team-info{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .info{
        width: 40%;

        @media screen and (min-width: 800px) {
            width: 400px;
        }
    }


    .text{
        text-align: left;
        font-family: Lato;
        font-weight: normal;
        font-style: normal;
        font-size: 23px;
        color: #ffffff;
        margin-left: 25px;

        @media screen and (min-width: 800px) {
            text-align: center;
        }
    }

    .name{
        font-family: Lato;
        font-weight: normal;
        font-style: normal;
        font-size: 17px;
        color: #ffffff;
        text-align: left;
        margin: 9px 0 0 0;

        @media screen and (min-width: 800px) {
            text-align: center;
        }
    }
    
    .role{
        font-family: Lato;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: rgba($color: #ffffff, $alpha: 0.87);
        text-align: left;
        margin: 3px 0 10px 0;

        @media screen and (min-width: 800px) {
            text-align: center;
        }
    }

    .team-img{
        width: 155px;
        height: 155px;
        border-radius: 7px;

        @media screen and (min-width: 800px) {
            width: 308px;
            height: 315px;
        }
    }

    .team-icons{
        margin-bottom: 15px;
        display: flex;
        justify-content: start;

        @media screen and (min-width: 800px) {
            justify-content: center;
            margin-bottom: 20px;
        }
        
        .team-link{
            color: #ffffff;
            margin-right: 10px;
            font-size: 23px;
        }

    }
}

