@import "../../variables.scss";


.showtime-card{
    margin-top: 95px;
    // margin-left: 20px;
    min-height: 100vh;
    width:100%;
    h3 {
        width: 90%;
        margin: 0 auto;
    }
    .text{
        font-family: "Lato";
        color: #FFFFFF;
        text-align: left;
    }
    .movie-info{
        width: 90%;
        margin: 16px auto;
        display: flex;
        .poster{
            width: 100px;
            height: auto;
        }
        .movie-text{
            text-align: left;
            margin-left: 5%;
            
            .title{
                margin: 0;
                font-size: 18px;
                text-align: left;
            }
            .runtime{
                margin: 5px 0 0 0;
                font-size: 16px;
                font-weight: normal;
            }
            
            .rated{
                font-size: 16px;
                margin: 10px 0 0 0;
                font-weight: normal;
            }
        }
    }
    .theatre{
        background-color: #292A2B;
        width: 100%;
        height: 75px; 
        display: flex;
        align-items: center;
        justify-content: center;

        .hearticon {
            width:10%
        }
     
        .theateraddress {
            margin-top: 0;
            display: flex;
            width:80%;
            flex-direction: column;
            justify-content: space-between;

            .theatre-name{
                font-size: 20px;
                font-weight: normal;
                text-align: start;
                margin:0
            }
            p {
                margin: 3px 0 0 0;
                font-size: 15px;
                text-align: start;
                font-weight: normal;
                font-style: normal;
                color: rgba(255,255,255,0.6);
            }
          
        }
        img {
            width:33px;
        }
    }
    .black-bg {
        background: $pure_black !important;
    }

    .whiteBo {
        border-bottom: white 1px solid;
    }
    .theatre-showtime{
    
        background-color: #3D3D3D;
        // margin: 0px -21px 0 -50px;
        // padding-left: 50px;
        .sub-text{
            width: 90%;
            margin: 0 auto;
            font-weight: normal;
            font-size: 16px;
            padding: 6px 0;
            // line-height: 24px;
            text-align: start;
            color: rgba(255,255,255,0.6);
        }
   

        .day-time {
            width:90%;
            margin:0 auto;
            text-align: start;

            .times-div{
                width:80%;
                display: flex;
                flex-wrap: wrap;
                flex: 1 1 33.3%;
                padding-bottom: 12px;
                .timeshow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    width:80px;
                    height: 48px;
                    font-size: 18px;
                    color: $disabled_text;
                    margin: 0 10px 10px 0;
                    border-radius: 4px;
                    background: $disabled_action_button ;
                }
            }
        }
        .white-text {
            color: $pure_white !important;
            
        }
   
    }
    .days-text{
        text-align: left;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        color: #FFFFFF;
        margin: 6px 0 8px 0;
    }

    .progress-bar{
        .inside-dev {
            width:100%;
        }
 
    }

    .space{
        margin: 0 0 0 0;
    }



}


.options {
    width:90%;
    margin: 20px auto 0 auto;
    text-align: start;
    font-size: 24px;
}

.bright-red{
   background: $enabled_action_button !important;
   color: white !important;
}

.back-home{
    color: #4294F4;
    text-decoration: underline;
    margin: 0 ;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    padding-bottom: 15px;
    text-align: left;
    background-color: #3D3D3D;
    span {
            width:90%;
           margin: 0 auto;
           margin-left: 20px;

    }
}

#tickets-btn {
    position: fixed;
    z-index: +1;
    bottom: 16px;
    background: $enabled_action_button;
}
.lasttheater {
    margin-bottom: 100px;

    .whiteBo {
        border-bottom: none;

    }

}