@import "../../variables.scss";

.dash-board {
  margin-top: 2%;
  padding-top: 70px;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 500px) {
    padding-right: 10px;
    margin-bottom: 50px;
  }
}

.movie-card {
  text-align: left;
  width: 140px;
  margin: 5px auto;
  padding: 5px;
}

.movie-title-disable {
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  color: $disabled_text;
}

.movie-title-enable {
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  color: $mid_text;
}

.movie-img-enable {
  width: 155px;
  height: 235px;
  opacity: 1;
  margin-bottom: 0px;
}

.movie-img-disable {
  width: 155px;
  height: 235px;
  opacity: 0.5;
  margin-bottom: 0px;
}

// Search Form By Movie name
.searchForm {
  input {
    font-size: 16px;
    outline: none;
    border: none;
    height: 20px;
    width: 99%;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 20px;
    margin-left: 5px;
    border: black 2px solid;
    @media screen and (max-width: 500px) {
      width: 87%;
    }
  }
}

// Zipcode Search Form
.zipsearch {
  input {
    width: 99%;
    font-size: 16px;
    outline: none;
    border: none;
    height: 20px;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 10px;
    margin-left: 5px;
    border: black 2px solid;
    @media screen and (max-width: 500px) {
      width: 87%;
    }
  }
}

.red-box {
  border: 4px $enabled_action_button solid;
  border-radius: 5px;
}

.next-button-disable {
  background-color: $disabled_action_button;
  position: fixed;
  bottom: 15px;
  right: 0%;
  width: 75%;
  color: $disabled_text;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  height: 45px;
  left: 0%;
  outline: none;
}

.next-button-enable {
  background-color: $disabled_action_button;
  position: fixed;
  bottom: 15px;
  right: 0%;
  width: 75%;
  color: $disabled_text;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  height: 45px;
  left: 0%;
  outline: none;
}

// Hamburger menu styles

/* Color/shape of burger icon bars */
.bm-burger-bars {
  width: 35px;
  height: 5px;
  background: $pure_white;
  border-radius: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Individual item */
.bm-item.menu-item {
  text-decoration: none;
  color: $pure_white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $pure_white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $pure_black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 1em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 0.5em;
}

.bm-item-list .active {
  outline: none;
  color: $enabled_action_button;
}

/* Styling of overlay */
// .bm-overlay {
//   background: rgba(0, 0, 0, 0.3);
// }

.menu-footer {
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
}

// Styling of App name and header on dashboard
.app-name {
  font-family: "Cinzel Decorative", cursive;
  font-size: 20px;
  color: $enabled_action_button;
  position: absolute;
  top: 25px;
  left: 40px;
}

.header-dash {
  font-size: 18px;
  margin-bottom: 0px;
}

.titles {
  text-align: left;
  margin-left: 20px;
}

.fontAwesome {
  font-family: Helvetica, "FontAwesome", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-left: 20px;
}
