@import "../../variables.scss";

.dash-board {
  margin-top: 2%;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-card {
  text-align: left;
  width: 140px;
  margin: 5px auto;
}


.maturity-filter{
  display: flex;
  flex-direction: column;
  align-content: left;
  .maturity-rating-active{
    padding: 0 0 0 5px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $enabled_action_button, 0 0 30px $enabled_action_button, 0 0 40px $enabled_action_button, 0 0 55px $enabled_action_button, 0 0 75px $enabled_action_button;
  }
  .maturity-rating-disable{
    padding: 0 0 0 5px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $disabled_action_button, 0 0 30px $disabled_action_button, 0 0 40px $disabled_action_button, 0 0 55px $disabled_action_button, 0 0 75px $disabled_action_button;
  }
}

.movie-title-disable{
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  color: $disabled_text;
}

.movie-title-enable{
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  color: $mid_text;
}

.movie-img-enable{
  width: 155px;
  height: 235px;
  opacity: 1;
  margin-bottom: 0px;
}

.movie-img-disable{
  width: 155px;
  height: 235px;
  opacity: 0.5;
  margin-bottom: 0px;
}

// Search Form By Movie name
.searchForm {
  input {
    font-size: 20px;
    outline: none;
    border: none;
    height: 20px;
    width: 96%;
    border-radius: 6px;
    padding: 6px 2%;
    margin-bottom: 20px;
    border: black 2px solid;
  }
}

// Zipcode Search Form
.zipsearch {
  input {
    width: 96%;
    font-size: 20px;
    outline: none;
    border: none;
    height: 20px;
    border-radius: 6px;
    padding: 6px 2%;
    margin-bottom: 10px;
    border: black 2px solid;
  }
}

.red-box{
  border: 4px $enabled_action_button solid;
  border-radius: 5px;
}

.next-button-disable{
  background-color: $disabled_action_button;
  position: fixed;
  bottom: 15px;
  right: 0%; 
  width: 75%;
  color: $disabled_text;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  height: 45px;
  left: 0%;
  outline: none;
}

.next-button-enable{
  background-color: $disabled_action_button;
  position: fixed;
  bottom: 15px;
  right: 0%; 
  width: 75%;
  color: $disabled_text;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  height: 45px;
  left: 0%;
  outline: none;
}

.movie-rating {
  .rating {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    text-align: left;
    input{
      position: static;
      -webkit-appearance: none;
      border-radius: 2px;

      border: 2px solid #838383;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      left: 16px;
      top: 65px;

      /* enabled button color */

      background-color: #3D3D3D;
      /* Box outline/seats not chosen */
      box-sizing: border-box;
      outline: none;
    }
    input:active{
      background-color: #FD2D2D;
      border: 2px solid #FD2D2D;
      outline: none;
    }
    input:checked{
      background-color: #FD2D2D;
      border: 2px solid #FD2D2D;
      outline: none;
    }
    input:checked:after{
      content: '\2714';
      font-size: 100%;
      position: relative;
      bottom: 3px;
      left: 1px;
      color: white;
    }
    .icon-full{
      color: gold;
      width: 16px;
      height: 16px;
      left: 86px;
      top: 249px;
    }
  }
}