.movie-list{
  margin: 10% 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
}

.movie-title{
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}

.movie-img{
  width: 155px;
}

.red-box{
  border: 1px red solid;
}

.searchForm{
  width: 85%;
  padding: 6px 2% ;
  border-radius: 6px;
}