@import "../../variables.scss";


.profile-container {
    .profile-nav{
        width: 100%;
        display: flex;
        height: 8vh;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 40px;
        div {
            position: absolute;
            width:10%;
            img {
                justify-items: end;
                width: 28px;
            }
        }
        h3 {
            text-align: center;
            width: 100%;
            margin:0;
        }
    }
    .header {
        position:absolute;
        left: 0;
        width: 100%;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        padding-bottom: 28px;
        .profile-image { 
            width:22%;
            img {
                width:64px;
                height: 64px;
                border-radius: 40px;
            }
        }
        .name-setting{
            width:70%;
   
            h3 {
                margin:0 0 12px 0;
                text-align: start;
                font-size: 22px;
                font-weight: normal;
            }
            .setting {
                display: flex;
                img {
                    width:18px;
                    margin-right:4px
                }
                p {
                    margin: 0;
                    color: #4294f4;
                    font-size: 14px;
                    text-decoration: underline;
                }
            }
         
        }
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.showImage {
    animation: fadein 0.8s;
    // position: fixed;
    // width: 500px;
    // height: 200px;
    // top: 44%;
    // left: 50%;
    // margin-top: -100px; /* Negative half of height. */
    // margin-left: -250px;

    img {
        width:300px;
        height: 200px;
    }
}


// Style Input Type File
.custom-file-input {
    color: transparent;
    outline: none;
    width:300px;
  }
  .custom-file-input::-webkit-file-upload-button {
    // visibility: hidden;
      width: 0px;
     height: 0px;
     overflow: hidden;
  }
  .custom-file-input::before {
    content: 'change Image';
    // color: black;
    display: inline-block;
    // background: white;
    // border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    text-shadow: 1px 1px #fff;
    // font-weight: 700;
    font-size: 12pt;
    outline: none;
  }
  
  .theatres {
      margin-top: 300px
  }
 
  
//   body {
//     padding: 20px;
//   }