@import "../../variables.scss";

.seat-chart {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // margin-top: 20px;
  width: 100%;
}

.seat {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  margin: 5px;
  border-radius: 5px;
  padding-top: 5px;
}

.seat-container {
  margin-top: 25%;
  // min-height: 100vh;
}

.seat-title {
  font-size: 23px;
}

.seat-header {
  font-size: 16px;
}

.next-button {
  background-color: $disabled_action_button;
  width: 90%;
  color: $disabled_text;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  height: 45px;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  position: absolute;
  bottom: 65px;
  left: 5%;
}

.next-button-active{
  background-color: $enabled_action_button;
  width: 90%;
  color: $mid_text;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  height: 45px;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  position: absolute;
  bottom: 65px;
  left: 5%;
}

.middle-section {
 display: flex;

 .left {
    width: 25%;
    margin-top: 0
  }

  .mid {
    width: 50%;
    margin-top: 0
  }

  .right {
    width: 25%;
    margin-top: 0

  }

}

.end {
  margin-top: 0;
}


.seats-selected {
  .seat {
    background-color: #faad14 ;
  }
}

// .seats-border{
//   border: 3px solid #4294f4;
//   border-radius: 5px;
// }


.seats-com {
  width: 90%;
  margin:0 auto;
  padding-top: 5px;
}



