.progress-bar {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 24px;
  left: 28px;
}

.icons {
  width: 30px;
  height: 30px;
}

.progress-line {
  background-color: red;
  width: 24px;
  height: 5px;
}

.brightness {
  filter: brightness(2);
}
