.ticket{
    margin: 0 auto;
    margin-top: 160px;
    outline: none;
}

.title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.sub-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.ticket-select{
    display: flex;
    justify-content: center;
    align-items: center;
}

.math{
    color: #dfdfdf;
    background-color: #000000;
    border: 2px solid #dfdfdf;
    margin: 0px 20px;
    padding: 0px 24px;
    font-size: 35px;
    border-radius: 5px;
    outline: none;
}

.ticket-num{
    background-color: #3d3d3d;
    color:  #FFFFFF;
    font-size: 23px;
    margin: 0px 0px;
    padding: 9px 24px;
    border-radius: 5px;
}

.sub-title{
    margin-top: 23%;
    margin-left: 1px;
}

.button{
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 5px;
    padding: 6px 69px;
}

.yes{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
}

.no{
    background-color: #292a2b;
    color: #3a3a3b;
    border: 2px solid #292a2b;
}

.next{
    background-color: #7e1616;
    color: #e0c6c6;
    border: none;
    outline: none;
    margin-top: 10%;
    padding: 8px 158px;
}

.no-sub{
    margin-left: 100px;
}